.container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  background-color: cornflowerblue;
  color: white;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  cursor: pointer;
}